Dockerfile
.dockerignore
node_modules
npm-debug.log
README.md
.env
.env*.local
.next
.git
.gitignore
*.md
.DS_Store
docker-compose.yml
docker-compose.*.yml
.github
helm
LICENSE
CONTRIBUTING.md
CHANGELOG.md
*.log
coverage
.vscode
.idea
*.swp
*.swo
*~

